# Carpetas de compilación (Basura técnica)
[Bb]in/
[Oo]bj/

# Configuración de editores (Visual Studio / Rider / VS Code)
.vs/
.idea/
.vscode/
*.user
*.userosscache
*.sln.docstates

# Archivos de publicación local
publish/

# Archivos temporales de sistema
.DS_Store
Thumbs.db